<div class=container>
    <div class="jumbotron text-center">
        <h1>Burgers!</h1>
    </div>
    <div class="row">
        <div class="col-md-6 panel">
            <div class="panel-heading">
                <h2>Bucket List Burgers</h2>
            </div>
            <div class="panel-body">
                    {{#each burgers}} {{#unless devoured}}
                        <button type="button" class="btn btn-sm eat-da-burger" data-id="{{id}}">Eat Me!
                        </button>
                        {{burger_name}}
                        <br>
                    {{/unless}} {{/each}}
                    <br>
            <div class="form-group">
                <form class="create-form">
                    <div class="form-group form-inline">
                        <button type="submit" class="btn-sm">Add Burger</button>
            {{!--             <label for="burger-name">Burger Name:</label> --}}
                        <input type="text" class="form-control" id="burger-name" name="burger_name">
                    </div>
                </form>
            </div>

        </div>
        </div>
        <div class="col-md-6 panel">
            <div class="panel-heading">
                <h2>Burgers I have Known</h2>
            </div>
            <div class="panel-body">
                {{#each burgers}} {{#if devoured}}
                {{burger_name}}
                </br>
                {{/if}} {{/each}}
            </div>
        </div>
    </div>
</div>