body,
html {
    height: 100%;
    font-family: cursive;
    color: white;
}

button {
    color: black;
    background-color: #78a437;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px black solid !important;
}

button:hover {
    background-color: yellow;
    border: 1px solid black;
    border-style: solid;
}

.wrapper {
    background-image: url("../img/background2.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-color: transparent;
    color: black;
}

.panel {
    border-radius: 30px;
    background: rgba(51, 48, 12, 0.5);
    margin-right: 20px;
    margin-left: 20px;
}

.item-uneaten {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.item-eaten {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.add-burger {
    margin-top: 10px;
}